{% extends "base.html" %}

{% block content %}

	<b>Ashenvale</b><br>
	<ul>
		<li><b>Version:</b> 0.0.1</li>
		<li><b>Engine:</b> RPG Maker MV.</li>
		<li><b>Genre:</b> adventure, fantasy</li>
		<li><b>Length:</b> 0.5 hours</li>
		<li><b>Summary:</b> You play as a pair of wandering adventurers who come across a small fire-elemental shrine which has been taken over by monsters. Your job is simply to enter, defeat the boss monster, and restore peace to the shrine.</li>
		<li><b>Download:</b> <a href="https://drive.google.com/file/d/0BwOuNoDNQdy9MVN1M3RRMnpCejA/view">Link</a>.</li>
	</ul>

{% endblock %}